.btn{
    background-color: transparent;
    border: none;
    color:white;
    cursor: pointer;
    font-size: 16px;
    padding: 7px 10px 7px 10px;

    transition: color .3s ease;

    &:focus{
        outline: none;
    }
    &:hover{
        color: darken($color: $white, $amount: 20);
    }

}

.btn-block{
    width: 100%;
}

.btn-primary{
    background-color: $primary;
    border-radius: 2px;
    &:disabled{ 
        background-color: lighten($color: $primary, $amount: 35);
        
    }

    &:hover{
        background-color: darken($color: $primary, $amount: 20);
    }
}